<div class="favorites-artworks max-width-container">
  <h1 class="favorites-artworks__title">
    Here are your
    <br>
    <img src="assets/icons/bookmark.svg" alt="bookmark icon">
    <span class="hightlight-text-slice">Favorites</span>
  </h1>
  <div class="favorites-artworks__list">
    <div class="list__title">
      <small class="hightlight-text-slice">Saved by you</small>
      <h3>Your favorites list</h3>
    </div>
    @if(!isFavoritesArtworksLoading && favoritesArtworks) {
      <ul class="list">
        @for (favoriteArtwork of favoritesArtworks; track favoriteArtwork.id) {
          <li class="list__item">
            <app-artwork-card
              (revomeFromFavoritesEvent)="revomeFromFavorites($event)"
              [artwork]="favoriteArtwork"
              [isSmallCard]="true"
            ></app-artwork-card>
          </li>
        } @empty {
          <h2>There are not favorites artworks...</h2>
        }
      </ul>
    } @else {
      <app-loading-spinner></app-loading-spinner>
    }
  </div>
</div>
