<nav aria-label="Artworks navigation list">
  <ul class="pagination">
    <li
      [class.disabled]="page() === 1"
      class="page-item">
      <button
        class="page-link arrow"
        (click)="changePage(-1)">
        <i class="bi bi-caret-left-fill"></i>
      </button>
    </li>
    @for (pageNumber of getDisplayedPages(); track pageNumber) {
      <li
        [class.active]="pageNumber === page()"
        class="page-item">
        <button
          class="page-link"
          (click)="onSelectPage(pageNumber)">
          {{ pageNumber }}
        </button>
      </li>
    }
    <li
      [class.disabled]="page() === total_pages()"
      class="page-item">
      <button
        class="page-link arrow"
        (click)="changePage(1)">
        <i class="bi bi-caret-right-fill"></i>
      </button>
    </li>
  </ul>
</nav>
