@import 'mixins';
@import 'colors';

.pagination {
  @include flexMix($gap: .2rem);

  margin: 0;

  .page-item {
    cursor: pointer;

    .page-link {
      color: $darkText;
      border: none;
      background-color: transparent;
      font-weight: 500;
      border-radius: .4rem;

      &:hover {
        background-color: $transperentOrangeText;
        color: #fff;
      }
    }

    .arrow {
      font-weight: 700;
    }

    &.active .page-link {
      color: #fff;
      background-color: $orangeText;
    }

    &.disabled {
      display: none;
    }
  }
}
