<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="nav-logo">
      <img src="assets/icons/logo.svg" alt="Museum of art">
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        @for(item of navBarItems; track item.label) {
          <li class="nav-item">
            <img [src]="item.icon" [alt]="item.label">
            <a
              class="nav-link active"
              aria-current="page"
              [routerLink]="item.link">{{ item.label }}</a>
          </li>
        }
      </ul>
    </div>
  </div>
</nav>
