<div class="home">
  <div class="home__greeting">
    <h1>Let's find some <span>art</span> here!</h1>
  </div>
  <div class="home__search">
    <input
      class="form-control form-control-lg"
      type="text"
      placeholder="Search art, artist, work..."
      aria-label="Search-arts input">
      <i class="bi bi-search"></i>
  </div>
  <div class="home__gallery">
    <div class="gallery__title">
      <small>Topics for you</small>
      <h3>Our special gallery</h3>
    </div>
    <div class="gallery__list">
      
    </div>
  </div>
</div>
