.root-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .main-content {
    flex: 1;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 3rem;
    list-style-type: none;
  }
}
