@import 'colors';

body {
  background-color: $light-bg;
}

.max-width-container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 12rem;

  @media (max-width: 1600px) {
    padding: 0 4rem;
  }

  @media (max-width: 450px) {
    padding: 0 1rem;
  }

  @media (min-width: 1921px) {
    padding: 0;
  }
}

ul {
  list-style-type: none;
  padding: 0;
}

.add-to-favorites {
  cursor: pointer;
  border-radius: 50%;
  padding: .9rem .8rem;

  &.added {
    background-color: $transperentOrangeText !important;
  }
  &.white {
    background-color: #fff;
  }
  &.gray {
    background-color: $gray-bg;
  }
}

.hightlight-text-slice {
  color: $orangeText;
}
